{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@src/*": ["src/*"]
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
