---
version: "3.8"

services:
  my-library:
    container_name: my-library
    restart: unless-stopped
    build:
      target: dev
      context: .
    ports:
      - "9229:9229"
    volumes:
      - .:/app
